.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text);
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
}

.clients-item {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.clients-link {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: var(--icon);
    transition-duration: 250ms;
    transition-timing-function: var(--cubic);

    &:hover,
    &:focus {
        border: 1px solid var(--active);
        fill: var(--active);
        transition-duration: 250ms;
        transition-timing-function: var(--cubic);
    }
}